 

.login-container {
    background-color: rgb(163, 151, 151);
      padding: 20px;
    border-radius: 8px;
    width: 100%; 
    height: 40rem;
    margin-top: 12rem;
    margin: 0 auto;
}

.login-h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.login-input-group {
    flex: 1;
    min-width: 15rem;
}

.login-aligntext {
    margin-top: 20px;
}

.login-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.login-label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.login-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #45a049;
}

.login-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.login-table th, .login-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.login-table th {
    background-color: #f2f2f2;
}

.login-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
