
:root {
    --dark: #171D1D;
    --grey: #ECEDEF;
    --green: #75D8A2;
}

.homeSection {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/worldmap.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homeSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homeSection header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 15px 20px;
    position: relative;
    z-index: 2;
  
}

nav {

    background: var(--green);
    width: 95%;
    max-width: 1200px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
   

nav ul {
    list-style: none;
    display: flex;
    padding-left: 10px;
    gap: 1rem;
}

.homeSection button {
    padding: 10px 20px;
    background: var(--green);
    color: white;
    border-radius: 8px;
    border: 1px solid #fff;
    cursor: pointer;
}

.info {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    text-align: center;
    position: relative;
    z-index: 2;
    color: #000;
  
}

.info h1,
.info p {
    color: #fff;
}
.info p{
    margin-top: 20px;
}
.info button{
    margin-top: 25px;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
}



