/**/

/*heading*//**//**//**/


h1{
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2rem;
}

/*Color boxes*//*First Row*//**//**/

.box1{
    width: 18rem;
    height: 10rem;
    margin-left: 3rem;
    background-color: rgb(177, 67, 67);
    font-weight: 900;
    border-radius: 1rem;
}


.box2{
    width: 18rem;
    height: 10rem;
    margin-left: 22rem;
    padding-top: -2rem;
    margin-top: -10rem;
    background-color: rgb(177, 166, 67);
    font-weight: 900;
    border-radius: 1rem;  
}
.move2{
    margin-top: -11rem;
}


.box3{
    width: 20rem;
    height: 10rem;
    margin-left: 41rem;
    margin-top: -10rem;
    background-color: rgb(89, 177, 67);
    font-weight: 900;
    border-radius: 1rem;
}

.box4{
    width: 19rem;
    height: 10rem;
    margin-left: 62rem;
    margin-top: -10rem;
    background-color: rgb(115, 67, 177);
    font-weight: 900;
    border-radius: 1rem;
}

.text1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 500;
    margin-left: 2rem;
    padding-top: 1rem;
    padding-bottom: -2rem;
}

.number{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 500;
    margin-left:0.2rem;
    font-size: 3.2rem;
   margin-top: .4rem;
   margin-bottom: .2rem;   
}


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

/*Color boxes*//*Second Row*//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.box11{
    width: 18rem;
    height: 10rem;
    margin-left: 3rem;
    background-color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 1rem;
}

.smallbox11{
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 3rem;
    padding-top: 1rem;
    background-color: rgb(177, 67, 67);
}


.box21{
    width: 18rem;
    height: 10rem;
    margin-left: 22rem;
    padding-top: -2rem;
    margin-top: -12rem;
    background-color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 1rem;  
}

.smallbox21{
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 3rem;
    padding-top: 1rem;
    background-color:    rgb(177, 166, 67);
}





.box31{
    width: 20rem;
    height: 10rem;
    margin-left: 41rem;
    margin-top: -12.1rem;
    background-color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 1rem;
}

.smallbox31{
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 3rem;
    padding-top: 1rem;
    background-color:  rgb(89, 177, 67);
}

.box41{
    width: 19rem;
    height: 10rem;
    margin-left: 62rem;
    margin-top: -12.1rem;
    background-color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 1rem;
}
.smallbox41{
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 3rem;
    padding-top: 1rem;
    background-color:  rgb(115, 67, 177);
}


.text11{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(8, 8, 8);
    font-weight: 400;
    margin-left: 6rem;
    padding-top: -2rem;
    padding-bottom: 2rem;
}

.number1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(49, 49, 49);
    font-weight: 500;
    margin-left:0.2rem;
    font-size: 2rem;
   margin-top: .4rem;
   margin-bottom: .2rem;   
}



/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
 
 /*Latest sale orders-by sales channel*//*Latest sale orders-by sales channel*//*Latest sale orders-by sales channel*/
/*Latest sale orders-by sales channel*//*Latest sale orders-by sales channel*//*Latest sale orders-by sales channel*/

.box66 {
    width: 55rem;
    height: 30rem;
    margin-left: 3rem;
    background-color: rgb(87, 74, 74);
    font-weight: 900;
    border-radius: 1rem;
    overflow-y: auto;
}



/*Latest sale orders-by sales channel*//*Latest sale orders-by sales channel*//*Latest sale orders-by sales channel*/
/*Latest sale orders-by sales channel*//*Latest sale orders-by sales channel*//*Latest sale orders-by sales channel*/


.box71{
    width: 20rem;
    height: 30rem;
    margin-left: 61.2rem;
    margin-top: -32.3rem;
    background-color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 1rem;
}





.topic2{
    font-weight: 500;
    margin-left: 2rem;
}

.topic3{
    font-weight: 500;
    margin-left: 3rem;
}
.topic33{
    font-weight: 400;
    margin-left: 5.4rem;
    margin-top: -1rem;
    font-size: .85rem;
}






.receivedOrders{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-left: 11rem;
}

.totalCost {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-left: 11rem;
    max-width: 100px; /* Adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.totalCost:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
}





.number2{
    margin-top: -4.6rem;
}

.number3{
    margin-top: -14rem;
}

.topic22{
    font-weight: 600;
    margin-left: 1.3rem;
    padding-top: 1rem;
    color: rgb(23, 23, 223);
}

.incomingAmount{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-left: 14rem;
    padding-top:.5rem;
    padding-bottom: .6rem;
}

.spaceAmount{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-left: 14rem;
   padding-top: 1rem;
}

.move21{
    margin-top: 1rem;
}

.move222{
    margin-top: 35rem;
}

header {
    background-color: grey;
}






